body{
	background-color: #101010;
	font-family: Verdana;
	color:white;
}
.Sectionhead{
	background-color: black;
	margin:auto;
	margin-bottom: 1%;
	width:60%;
	text-align:center;
	text-shadow: 2px 2px 5px #ff0000;
	border: 3px solid DeepSkyBlue;
	border-radius:15px;
	box-shadow:  0px 0px 15px DeepSkyBlue;
	padding-left: 1%;
	padding-right: 1%;
}
.Sectioncontent {
	background-color: black;
	margin:auto;
	margin-bottom: 1%;
	width:55%;
	border: 2px solid Aqua;
	border-radius:15px;
	box-shadow:  0px 0px 10px Aqua;
	padding-left: 1%;
	padding-right: 1%;
}
.Sectioncontent h2{
	text-align:center;
	text-shadow: 2px 2px 5px #ff0000;
}
.Pagehead{
	background-color: black;
	margin:auto;
	width: 20%;
	margin-bottom: 1%;
	text-align:center;
	text-shadow: 2px 2px 5px #ff0000;
	border: 3px solid DarkViolet;
	border-radius:15px;
	box-shadow:  0px 0px 15px DarkViolet;
	padding-left: 1%;
	padding-right: 1%;
}
.sbl{
	background-color: black;
	margin:auto;
	margin-bottom: 1%;
	border: 3px solid #ff0000;
	border-radius:15px;
	box-shadow:  0px 0px 15px #ff0000;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	float: left;
	width: 16%;
}
.sbl h1
{
	text-shadow: 2px 2px 5px #ff0000;
	text-align:center;
}
.sbr{
	background-color: black;
	margin:auto;
	margin-bottom: 1%;
	text-align:center;
	border: 3px solid #ff0000;
	border-radius:15px;
	box-shadow:  0px 0px 15px #ff0000;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	float: right;
	width: 16%;
}
.sbr h1
{
	text-shadow: 2px 2px 5px #ff0000;
	text-align:center;	
}
.caption{
	color: Gainsboro;
	font-size: 12px;
	text-align:center;
}
a{
	color:Lavender	;
}
hr.dotted {
  border-top: 3px dotted #bbb;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
.image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	border: 2px solid Aqua;
	border-radius:15px;
	box-shadow:  0px 0px 10px Aqua;
}