body
{
	background-image: url("resources/sticky_blog_bg.png");
	color: white;
	font-family: Verdana, sans-serif;
}
 
 h1
{
	text-align: center;
}
 
.caption
{
	font-size: 12px;
}

.center
{
	border: 3px solid #FF5F1F;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.sidenavimg
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	scale:200%;
	border: 3px solid black;
}

.sidenavimg:hover
{
	    box-shadow: 0px 0px 5px #fff;
}

hr.dashed
{
	border-top: 3px dashed #FF5F1F;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

hr.dashedgrey
{
	border-top: 3px dotted #000f;
	border-bottom: 3px;
	border-left: 3px;
	border-right: 3px;
}

hr.solid
{
	border: 3px solid #210136;
}

.jumpto
{
	background-color: white;
	border: 2px solid grey;
	width: fit-content;
	padding: 6px;
}

.centertxt
{
	text-align: center;
}

.sidenav 
{
	width: 5%; 
	position: fixed; 
	z-index: 1; 
	top: 10px; 
	right: 10px;
	background-color:#3f0166; 
	overflow-x: hidden; 
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 15px;
	font-size: 12px;
}

.sidenav a {
	text-align: center;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: White;
	display: block;
}

.sidenav a:hover {
	text-shadow: 0 0 32px white;
}

.main {
	margin-right: 5%; 
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
} 

.pfp
{
	margin-top: 5px;
	float: left;
	display: block;
	width: 50%;
	border: 3px solid black;
	margin-right: 5px;
}

.sidenavLeft
{
	left:10px;
	width: 30%;
	border: 2px solid black;
	background-color: white;
	color:black;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom:5px;
	margin-top: 1px;
}

.sidenavLeft1
{
	float:left;
	width: 30%;
	border: 2px solid black;
	background-color: white;
	color:black;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom:5px;
	margin-top: 0px;
}

.contact
{
	font-size: 80%;
	margin-right:1%;
	text-align:center;
	width: 15%;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: lightgrey;
	float: left;
	border: 3px solid purple;
}

.leftHeader
{
	padding-left:7px;
	padding-right:7px;
	color:black;
	border: 2px solid black;
	width:30%;
	margin-bottom: 0px;
	background-color: lightblue;
}

.leftHeader1
{
	float:left;
	padding-left:7px;
	padding-right:7px;
	color:black;
	border: 2px solid black;
	width:30%;
	margin-bottom: 0px;
	background-color: lightblue;
}

.about
{
	float:right;
	margin-top: 7px;
	padding: 1px;
	background-color: lightblue;
	width: 100%;
}

.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border: 1px solid black; 
    width: 50%; 
} 

.centernavheader
{
	border:2px solid black;
	color:black;
	width: 59.5%; 
	position: fixed; 
	z-index: 1; 
	right: 10px;
	background-color:lightblue; 
	overflow-x: hidden; 
	margin-right: 7.5%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
}

.centernav
{
	border:2px solid black;
	color:black;
	width: 59.5%; 
	position: fixed; 
	z-index: 1; 
	top: 85px;
	right: 10px;
	background-color:white; 
	overflow-x: hidden; 
	margin-right: 7.5%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.centerSection
{
	float:right;
}
